/* CUSTOM PROPS */
:root {
  --primary: #000;
  --text-color:#333;
  --main-font:'Roboto', 'Arial', sans-serif;
  --hover-color:#0a775f;
}

/* GLOBAL */
 * {
  box-sizing: border-box;
}

/* GLOBAL FOCUS */
*:focus {
  outline: 2px dashed #7296ec;
  outline-offset: 3px;
  transition: 0.4s ease;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  background-color: #fff;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

/* BUTTON */
.button {
  display: inline-block;
  padding: 16px 24px;
  text-decoration: none;
  border-radius: 100px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}
.button:hover {
  opacity: 0.8;
}
.button:active {
  opacity: 0.6;
}
/* HERO-BTN */
.hero-btn {
  color: #fff;
  background-color: #0a775f;
}
/* FOOTER-BTN */
.works-btn {
  background: #c99c67;
}


 /* CONTAINER */
 .container {
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* SITE-HEADER */
.site-header {
  display: flex;
  align-items: center;
  background-color: #f1d1ad;
}
.header-container {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header-logo {
  display: block;
  width: 203px;
  height: 24px;
  margin-right: auto;
}
.header-logo:hover {
  opacity: 0.8;
}
.header-logo:active {
  opacity: 0.6;
}
.header-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  list-style: none;
}
.header-list-item:not(:last-child) {
  margin-right: 40px;
}
.header-link {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-color);
  border-bottom: 2px solid transparent;
}
.header-link:hover {
  color: var(--hover-color);
  border-bottom: 2px solid var(--hover-color);
}
.header-link:active {
  opacity: 0.6;
}


/* SITE-HERO */
.site-hero {
  background-color: #f1d1ad;
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-position: left calc(50% + 380px) top;
}
.hero-content {
  width: 564px;
  margin-top: 111px;
  margin-bottom: 249px;
  padding-left: 100px;
  flex-shrink: 0;
}
.hero-heading {
  margin: 0;
  margin-bottom: 24px;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
  text-align: left;
  color: var(--primary);
}
.hero-text {
  margin: 0;
  margin-bottom: 34px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
  color: var(--primary);
}
.hero-btn {
  display: inline-block;
  padding: 16px 24px;
  text-decoration: none;
  border-radius: 100px;
  text-transform: uppercase;
  background-color:var(--hover-color);
  color: #fff;
}


/* SITE-MAIN */
.site-main {
  width: 100%;
  max-width: 1440;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
}


/* SECTION-COLLECTION */
.section-collection {
  padding-top: 50px;
  margin-bottom: 20px;
}
.collection-wrapper {
  padding-top: 50px;
  background-color: #e5e5e5;

}
.collection-heading {
  text-align: center;
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  line-height: 59px;
  text-transform: uppercase;
  color: var(--primary);
}
.collection-item-wrapper {
padding-top: 80px;
padding-left: 143px;
padding-right: 243px;
}
.collection-list {
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.collection-list-item {
  display: flex;
  align-items: center;
  margin: 0;
}

.collection-img {
  display: block;
  background-color: #e5e5e5;
}
.collection-item-content-1 {
  width: 453px;
  flex-shrink: 0;
  margin-left: 20px;
}
.collection-item-content-2 {
  width: 453px;
  padding-left: 120px;
  margin-right: 20px;
  flex-shrink: 0;
}
.collection-item-content-3 {
  width: 453px;
  margin-left: 20px;
  flex-shrink: 0;
}
.collection-item-content-4 {
  width: 453px;
  padding-left: 120px;
  margin-right: 20px;
  flex-shrink: 0;
}
.collection-item-link {
  display: inline-block;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  text-decoration: none;
  color: var(--text-color);
}
.collection-item-link:hover {
  color: var(--hover-color);
}
.collection-item-link:active {
  opacity: 0.6;
}
.collection-item-text {
  font-size: 22px;
  font-style: normal;
  line-height: 34px;
  color: var(--text-color);
}


/* SECTION-INFORMATION */
.section-information {
  margin-bottom: 80px;
}
.section-information-container {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  background-image: url("../img/information-bg.png");
  background-repeat: no-repeat;
}
.information-content-heading {
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  line-height: 59px;
  text-align: center;
}
.information-content-text {
  max-width: 581px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}
.information-list-img {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.list-img-item {
  margin-top: 80px;
}
.list-img-item:not(:last-child) {
  margin-right: 20px;
}
.information-img {
  width: 433px;
  height: 500px;
  display: block;
  margin-bottom: 30px;
}


/* SECTION-PRIVILEGES */
.section-privileges{
  display: flex;
  padding-top: 108px;
  padding-bottom: 80px;
}
.information-bottom-wrapper-content {
  width: 377px;
  flex-shrink: 0;
}
.information-bottom-wrapper-content:not(:last-child){
  margin-right: 76px;
}
.information-link {
  display: inline-block;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  text-decoration: none;
  color: var(--text-color);
}
.information-link:hover {
  color: var(--hover-color);
}
.information-link:active {
  opacity: 0.6;
}
.information-item-text {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--text-color);
}


/* SECTION-WORKS */

.works-wrapper {
  padding: 50px 30px;
  background-image: url(../img/green-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.section-works-heading {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 80px;
}
.site-works-list-box {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
}
.site-works-item-box {
  width: 60px;
  height: 60px;
  background-color: #fff;
}
.site-works-item-box:not(:last-child) {
  margin-right: 393px;
}


/* SECTION-WORKS-CARD */
.section-works-card {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  list-style: none;
}
.section-works-card-item {
max-width: 433px;
margin: 0;
padding: 20px 28px 40px 20px;
background-color:#f8f8f2;
}
.section-works-card-item:not(:last-child) {
  margin-right: 20px;
}
.section-works-card-item-content {
  padding: 0;
  margin: 0;

}
.section-works-card-item-number {
  display: flex;
  justify-content: end;
  margin: 0;
  font-size: 64px;
  line-height: 75px;
  color: var(--text-color);
}
.section-works-card-item-heading {
  display: flex;
  width: 231px;
  margin: 0;
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  color: var(--text-color);

}
.section-works-card-item-text {
  width: 385px;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
}
.works-btn-wrapper {
  display: flex;
  justify-content: center;
}


/* SITE-FOOTER */
.site-footer {
  display: flex;
  align-items: center;
  padding-top: 68px;
  padding-bottom: 68px;
  background-color: #f2d3b0;
  background-image: url("../img/footer-bg.png");
}
.footer-container {
  display: flex;
  justify-content:space-between ;
  align-items: center;
}

.footer-logo {
  display: block;
  width: 235px;
  height: 25px;
}
.footer-navbar {
  display: flex;
}
.footer-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-list-item:not(:last-child) {
  margin-right: 40px;
}
.footer-link {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--text-color);
}
.footer-link:hover {
  opacity: 0.8;
}
.footer-link:hover {
  opacity: 0.6;
}
.social-networks-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.social-networks-item:not(:last-child) {
  margin-right: 40px;

}
.social-networks-img {
}
.site-footer-logo-link {
  display: inline-block;
}

.site-footer-logo-link:hover {
 opacity: 0.8;
}
.site-footer-logo-link:active {
  opacity: 0.6;
 }
.social-networks-item-link {
  display: inline-block;
}
.social-networks-item-link:hover {
opacity: 0.8;
}
.social-networks-item-link:active {
  opacity: 0.6;
  }


  /* BACKGROUND-IMAGE RETINA */
  @media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .site-hero {
    background-image: url("../img/hero-bg@2x.png");
  }
  .section-information-container {
    background-image: url("../img/information-bg@2x.png");
  }
  .works-wrapper {
    background-image: url("../img/green@2x.png");
  }
  .site-footer {
    background-image: url("../img/footer-bg@2x.png");
  }

}